.parent1{
    display: flex;
    
}

.cls1{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    gap: 10px;
    flex-wrap: wrap;
}

#id1{
    display: flex;
    flex: 1;
    border: 2px solid;
}

#id1 img{
    display: flex;
    flex: 1;
}

#id2{
    display: flex;
    flex: 3;
    border: 2px solid;
}

#id2 img{
    flex: 3;
}

#id3{
    display: flex;
    flex: 2;
    border: 2px solid;
}

#id3 img{
    flex: 2;
}

#id4{
    display: flex;
    flex: 3;
    border: 2px solid;
}

#id4 img{
    flex: 3;
}

#id5{
    display: flex;
    flex: 2;
    border: 2px solid;

}

#id5 img{
    flex: 2;

}


.parent2{
    display: flex;
    padding-top: 20px;
}

.cls2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 30px;

}

#id6{
    display: flex;
    flex: 2;
    border: 2px solid;
}

#id6 img{
    display: flex;
    flex: 2;
}

#id7{
    display: flex;
    flex: 3;
    border: 2px solid;
}

#id7 img{
    display: flex;
    flex: 3;
}

#id8{
    display: flex;
    flex: 1;
    border: 2px solid;
}

#id8 img{
    display: flex;
    flex: 1;
}


.parent3{
    display: flex;
    padding-top: 20px;

}

.cls3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}


#id9{
    display: flex;
    flex: 1;
    border: 2px solid;
}

#id9 img{
    display: flex;
    flex: 1;
}


#id10{
    display: flex;
    flex: 3;
    border: 2px solid;
}

#id10 img{
    display: flex;
    flex: 3;
}


#id11{
    display: flex;
    flex: 2;
    border: 2px solid;
}

#id11 img{
    display: flex;
    flex: 2;
}


#id12{
    display: flex;
    flex: 0.5;
    border: 2px solid;
}

#id12 img{
    display: flex;
    flex: 1;
}